In [33]:
import pandas as pd
import os
import itertools
from tqdm import tqdm

In [34]:
transcript_path = '/shared/3/projects/bangzhao/prosodic_embeddings/mfa/output/'

In [35]:
entry_count = 0
with os.scandir(transcript_path) as entries:
    for entry in tqdm(entries, desc="Counting entries", unit="item"):
        entry_count += 1

print(f"Total number of items in the folder: {entry_count}")

Counting entries: 453639item [00:09, 46113.55item/s]

Total number of items in the folder: 453639

In [9]:
with os.scandir('/shared/3/projects/bangzhao/prosodic_embeddings/mfa/output/') as entries:
    first_5_files = [entry.name for entry in itertools.islice(entries, 5) if entry.is_file()]

In [27]:
data = pd.read_csv(transcript_path + first_5_files[4])

In [28]:
data

       Begin     End  Label    Type            Speaker
0       0.03    0.77    i'm   words  cache_240_4083523
1       5.48    5.65    kip   words  cache_240_4083523
2       5.68    6.02  allen   words  cache_240_4083523
3       6.02    6.14   with   words  cache_240_4083523
4       6.14    6.22    the   words  cache_240_4083523
...      ...     ...    ...     ...                ...
2399  179.15  179.18      N  phones  cache_240_4083523
2400  179.18  179.24      Y  phones  cache_240_4083523
2401  179.24  179.37    UW1  phones  cache_240_4083523
2402  179.37  179.45      Z  phones  cache_240_4083523
2403  179.45  179.96    spn  phones  cache_240_4083523

[2404 rows x 5 columns]

In [31]:
data['Type'].unique()

array(['words', 'phones'], dtype=object)

In [21]:
data[data['Type']=='phones'].Label.unique()

array(['AY1', 'M', 'K', 'IH1', 'P', 'AE1', 'L', 'AH0', 'N', 'W', 'IH0',
       'TH', 'DH', 'AA0', 'F', 'spn', 'Z', 'UH1', 'R', 'IY0', 'HH', 'EH1',
       'D', 'AA1', 'T', 'Y', 'S', 'ER0', 'EY2', 'SH', 'UW0', 'AH1', 'EY1',
       'OW1', 'B', 'AO1', 'OW0', 'NG', 'IY1', 'G', 'UH2', 'UW1', 'V',
       'ER1', 'CH', 'AW1', 'EH2', 'JH', 'AY2', 'UW2', 'AO0', 'AE0', 'IH2',
       'AO2', 'AE2', 'EH0', 'AY0'], dtype=object)

In [25]:
len(data[data['Type']=='phones'].Label.unique())

57

In [30]:
len(data[data['Type']=='phones'].Label.unique())

56

In [ ]:
len(data[data['Type']=='phones'].Label.unique())